.title-film {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  padding-top: 12.44px;
  padding-bottom: 20px;
  padding-left: 6.58%;
}

.film-list {
  width: 185px;
  height: 275px;
  cursor: pointer;
  &:hover {
    .post {
      background-color: #e93f3f;
      opacity: 0.5;
    }
  }

  > .avt {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  > .series {
    position: absolute;
    color: #fff;
    background: #a21d0a;
    font-size: 11px;
    font-weight: bold;
    float: left;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    left: 2px;
    top: 5px;
    white-space: nowrap;
    display: inline-block;
    box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 75%);

    &::after {
      content: "";
      float: right;
      position: absolute;
      top: 0;
      right: -12px;
      width: 0;
      height: 0;
      border-color: transparent transparent transparent #a21d0a;
      border-style: solid;
      border-width: 11px 0 12px 12px;
    }
  }

  > .name {
    top: 140px;
    left: 8px;
    color: #fff;
    font-weight: 500;
    // font-size: 12px;
  }
}

.item-film {
  left: 100px;
  min-width: 87.43%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  width: 32px;
  height: 32px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #888888;
  border-radius: 50%;
}
.title-film {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  padding-top: 12.44px;
  padding-bottom: 20px;
  padding-left: 6.58%;
}

.film-list {
  width: 185px;
  height: 275px;
  cursor: pointer;
  &:hover {
    .post {
      background-color: #e93f3f;
      opacity: 0.5;
    }
  }

  > .avt {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  > .series {
    position: absolute;
    color: #fff;
    background: #a21d0a;
    font-size: 11px;
    font-weight: bold;
    float: left;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    left: 2px;
    top: 5px;
    white-space: nowrap;
    display: inline-block;
    box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 75%);

    &::after {
      content: "";
      float: right;
      position: absolute;
      top: 0;
      right: -12px;
      width: 0;
      height: 0;
      border-color: transparent transparent transparent #a21d0a;
      border-style: solid;
      border-width: 11px 0 12px 12px;
    }
  }

  > .name {
    top: 140px;
    left: 8px;
    color: #fff;
    font-weight: 500;
    // font-size: 12px;
  }
}

.item-film {
  left: 100px;
  min-width: 87.43%;
}

.btn {
  color: #333;
  width: 32px;
  height: 32px;
  top: 7rem;
  background-color: #888888;
  border-radius: 50%;
}
