.title {
  // font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding-top: 26.36px;
}

.container {
  //Đăng nhập
  .form-login {
    background-color: #41424f;
    margin-top: 27.71px;

    &_items {
      padding: 0 95.79px 52.72px 95.79px;
      .item {
        .icon {
          font-size: 20px;
          left: 90%;
          top: 43px;
          cursor: pointer;
        }

        .error {
          text-align: center;
          color: red;
          padding: 10px 0 20px 0;
        }
      }
    }

    p {
      text-align: center;
      color: #fff;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    input {
      width: 380px;
      height: 54.1px;
      padding: 8px 15px;
      border-radius: 10px;
    }

    button {
      border-radius: 10px;
      color: #fff;
      font-weight: 500;
      font-size: 20px;
    }

    .Login {
      width: 380px;
      height: 54.1px;
      background-color: #f34a14;
      &:hover {
        background-color: #f34c14cd;
      }
    }

    .LoginWithFB {
      width: 266px;
      height: 54.1px;
      color: white;
      display: flex;
      align-items: center;
      font-size: 18px;
      cursor: pointer;
      border-radius: 10px;

      background-color: #5b6ad1;
      &:hover {
        background-color: #475ad8;
      }

      &-icon {
        width: 40px;
        height: 40px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        // background-color: white;
      }
    }

    .Resgister {
      width: 266px;
      height: 54.1px;
      background-color: #20bb1d;
      &:hover {
        background-color: #20bb1ded;
      }
    }
  }
}

// .modal,
// .overlay {
//     width: 100vw;
//     height: 100vh;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     position: fixed;
//     background-color: #00000090;
// }

// .modal {
//     .modal-content {
//         width: ;
//     }
// }
