.container.container__info {
  display: flex;
  justify-content: center;

  .introduction,
  .menu {
    margin-top: 40.542px;
  }

  .introduction {
    // margin-left: 200px;
  }

  .menu {
    &-list {
      &:last-child {
        margin-top: 50px;
      }
    }
  }
}
