.container {
    h1{
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        padding-top: 26.36px;
        color: #fff;
    }
    .form-register {
        width: 570px;
        height: 530px;
        background-color: #41424F;
        margin-top: 27.71px;
        p {
            text-align: center;
            color: #fff;
            // margin: 27.71px 0;
        }
    
        input {
            width: 380px;
            height: 54.1px;
            padding: 8px 15px;
            border-radius: 10px;
        }

        .icon {
            font-size: 20px;
            left: 159px;
            top: -40px;
            cursor: pointer;
        }

        button {
            margin-top: 23.65px;
            border-radius: 10px;
            color: #fff;
            font-weight: 500;
            font-size: 20px;
        }

        .Register {
            width: 380px;
            height: 54.1px;
            background-color: #F34A14;
            &:hover {
                background-color: #f34c14cd;
            }
        }
    }
    .form-forget {
        width: 565.25px;
        height: 324.4px;
        background-color: #41424F;
        margin-top: 26.36px;

        p {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            color: #fff;
            margin-top: 52.72px;
        }
    
        input {
            width: 380px;
            height: 54.1px;
            padding: 8px 15px;
            border-radius: 10px;
        }

        button {
            width: 380px;
            height: 54.1px;
            margin-top: 23.65px;
            border-radius: 10px;
            color: #fff;
            font-weight: 500;
            font-size: 20px;
            background-color: #F34A14;
            &:hover {
                background-color: #f34c14cd;
            }
        }
    }
}