.video__live-modal {
  background: #545562;
  color: white;
  position: absolute;
  z-index: 2000;
  left: 50%;
  top: 12px;
  transform: translate(-50%, 0%);
  padding: 20px;
  box-shadow: 0 0 10px #999;

  .video__live-modal-close {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 20px;
    cursor: pointer;
  }

  .video__live-modal-btn {
    width: 400px;
    justify-content: space-around;
    display: flex;

    #callId {
      width: 100%;
    }

    .video__live-modal-btn-item {
      margin-top: 20px;
      background-color: #f34a14;
      color: white;
      padding: 8px 20px;
      width: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
.video__live {
  background: #3f4046;
  height: calc(100vh - 131.8px);
  padding: 0 100px;

  .video__live-content {
    display: flex;

    .localVideo__content {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-btn {
        color: #f34a14;
        font-size: 24px;
      }
    }

    .remoteVideo__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-btn {
        display: flex;
        margin-top: 20px;
        align-items: center;
      }

      .remoteVideo__content-btn-item {
        cursor: pointer;
        background-color: #f34a14;
        color: white;
        padding: 4px 20px;
        margin-left: 6px;
      }
    }

    .localVideo__content-settings {
      margin-top: 18px;
      cursor: pointer;
      background-color: #f34a14;
      color: white;
      padding: 4px 20px;
    }
    .localVideo__content-introduction {
      border-radius: 4px;
      color: #fff;
      background-color: #f34a14;
      // width: 100px;
      font-weight: bold;
      margin: 20px 0px;
      padding: 12px 30px;
    }

    .localVideo__content-introduction i {
      margin-right: 6px;
    }

    .localVideo__content-btn {
      border-radius: 4px;
      color: #fff;
      background-color: #f34a14;
      padding: 4px 30px;
      // margin-top: 20px;
      font-size: 14px;
    }
  }

  .share__button {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #screenShareButton {
    border-radius: 4px;
    color: #fff;
    background-color: #f34a14;
    padding: 4px 30px;
    // margin-top: 20px;
    font-size: 14px;
    margin-top: 30px;
  }
}
