$white: #fff;

.History {
  &_container {
    &_content {
      margin-top: 30px;
      align-self: center;
      > h1 {
        font-size: 26px;
        color: $white;
      }
    }

    &_container {
      &_content {
        margin: 30px;
        align-self: center;
        > h1 {
          font-size: 26px;
          color: $white;
        }

        > .icon {
          text-align: center;
          font-size: 24px;
          color: $white;
        }
      }
    }
  }
}
