.Movie-series {
  padding-top: 10px;
  > .menu_film_series {
    margin-top: 90px;
    // padding-left: 5.26%;
  }
  .Movie-series {
    padding-top: 10px;
    > .menu_film_series {
      margin-top: 90px;
      // padding-left: 5.26%;
    }
  }
}
