.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 131.8px;
  background-color: #000;
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    &_avatar {
      width: 189.2px;
      height: 80px;
      display: flex;
      align-items: flex-end;
    }

    &_content {
      &_icon {
        color: #fff;
        height: 31.18000030517578px;
        width: 31.178335189819336px;
        left: 3.333343505859375px;
        top: 3.333251953125px;
        border-radius: 0px;
        margin-right: 24.5px;
        margin-top: 45.51px;
        cursor: pointer;
      }

      &_buy {
        button {
          padding: 10.81px 37px 10.82px 37px;
          border-radius: 15px;
          color: #fff;
          background-color: #f34a14;
          margin-top: 34.47px;
          margin-right: 24.5px;
          &:hover {
            background-color: #f34c14cd;
          }
        }
      }

      &_login {
        color: #fff;
        margin-top: 47.31px;
        cursor: pointer;
      }
    }
  }

  .menu {
    margin-top: 4px;
    color: #fff;
    margin-top: 12.67px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
  }
}
