.container {
    .form-forget {
        width: 565.25px;
        // height: 324.4px;
        padding: 0 91px 60px 91px;
        background-color: #41424f;
        margin-top: 26.36px;

        .error {
            padding: 10px;
            color: red;
            font-weight: 400;
        }

        p {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            color: #fff;
            margin-top: 52.72px;
        }

        input {
            width: 380px;
            height: 54.1px;
            padding: 8px 15px;
            border-radius: 10px;
        }

        button {
            width: 380px;
            height: 54.1px;
            margin-top: 23.65px;
            border-radius: 10px;
            color: #fff;
            font-weight: 500;
            font-size: 20px;
            background-color: #f34a14;
            &:hover {
                background-color: #f34c14cd;
            }
        }
    }
}

// .modal
//  {
//     width: 100vw;
//     height: 100vh;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     position: fixed;
//     background-color: #00000090;

//     &_container {
//         margin: 162.22px 380px;
//         &_header {
//             h1 {
//                 padding: 24.33px 254.125px;
//                 text-align: center;
//                 background-color: #545562;
//             }
//             .icon {
//                 color: #fff;
//                 top: 31px;
//                 right: 30px;
//                 font-size: 20px;
//             }
//         }

//         &_body {
//             background-color: #383840;
//             color: #fff;
//             p {
//                 padding: 48px 68.875px 0;
//             }
//             // margin-top: 162.22px;
//         }
//     }
// }

// .modal {
//     .modal-content {
//         width: ;
//     }
// }