.container {
    .form-forget {
        width: 565.25px;
        // height: 324.4px;
        padding: 0 91px 60px 91px;
        background-color: #41424f;
        margin-top: 26.36px;

        .error {
            padding: 10px;
            color: red;
            font-weight: 400;
        }

        p {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            color: #fff;
            margin-top: 52.72px;
        }

        input {
            width: 380px;
            height: 54.1px;
            padding: 8px 15px;
            border-radius: 10px;
        }

        button {
            width: 380px;
            height: 54.1px;
            margin-top: 23.65px;
            border-radius: 10px;
            color: #fff;
            font-weight: 500;
            font-size: 20px;
            background-color: #f34a14;
            &:hover {
                background-color: #f34c14cd;
            }
        }
    }
}

//modal xác nhận
.modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #00000090;

    &_container {
        margin: 162.22px 380px;
        &_header {
            h1 {
                padding: 24.33px 254.125px;
                text-align: center;
                background-color: #545562;
                font-size: 30px;
            }
            .icon {
                color: #fff;
                top: 31px;
                right: 30px;
                font-size: 20px;
                cursor: pointer;
            }
        }

        &_body {
            background-color: #383840;
            color: #fff;
            //Xác nhận OTP
            .Check_OTP {
                padding: 61.5px 0 0 69px;

                input {
                    width: 570px;
                    height: 54.1px;
                    padding: 8px 15px;
                    border-radius: 10px;
                    color: #000;
                }
            }

            .content_OTP {
                p {
                    padding: 30px 68.875px 29.06px;
                    font-size: 20px;
                    text-align: center;
                }
            }

            .button_OTP {

                padding-bottom: 57.45px;

                &_again {
                    background-color: #000;
                }

                &_check {
                    background-color: #f34a14;
                }

                &_again,
                &_check {
                    width: 275.5px;
                    height: 54.07px;
                    font-weight: 500;
                    font-size: 20px;
                    border-radius: 5px;
                }
            }

            //modal tạo mk mới
            .form_change {
                input {
                    color: #000;
                }

                button, input {
                    width: 575.75px;
                    height: 54.1px;
                    margin-left: 66px;
                    padding: 8px 15px;
                    border-radius: 10px;
                }

                &_pass, &_pass-again {

                    .errors_p {
                        text-align: center;
                        padding: 10px 68.875px 3.06px;
                        color: red;
                    }
                }

                &_pass {
                    padding-top: 25px;
                }

                &_pass-again {
                    padding-top: 16.22px;
                }

                .button_check {
                    padding-bottom: 43.26px;
                }

                button {
                    font-size: 18px;
                    font-weight: 500;
                    background-color: #f34a14;
                }

            }
        }
    }
}