$white: #fff;
$orange: #f34a14;
$orange2: #c13c12;

.Account_container {
  &_content {
    margin-top: 30px;

    // header
    &_header {
      // info
      height: 270px;
      &_title {
        &_img {
          width: 130px;
          height: 130px;
          border-radius: 50%;
          background-color: $orange;
        }

        &_name {
          color: $white;
          font-weight: 600;
          text-align: center;

          > h1 {
            font-size: 36px;
          }

          > h3 {
            font-size: 24px;
          }
        }
      }
      // setting
      &_setting {
        margin: 10px 0;
        background-color: $orange;
        color: $white;
        height: 48px;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        align-self: center;
        // margin-left: 100px;

        &:hover {
          background-color: $orange2;
        }

        > h1 {
          padding-left: 10px;
        }

        > i {
          font-size: 20px;
        }
      }
    }
    // body
    &_body {
      margin-top: 30px;
      width: 100%;

      &_row {
        margin-bottom: 50px;
      }
    }
  }
}
