.BoxHis {
    width: 700px;
    background-color: #42404f;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 20px;

    &_info {
        margin: 10px;
        padding: 10px;
        >h2 {
            font-size: 20px;
        }

        >h2:first-child {
            color: rgba(255, 255, 255, 0.418);
        }

        >h2:last-child {
            color: #fff;
        }
    }

}